In [14]:
#1a)
def secret(string):
    string = list(string.split("."))
    if "p" in string:
         return f'<p class=\'{" ".join(string[1:])}\'></p>'

In [16]:
secret("p.one.two.three")

"<p class='one two three'></p>"

In [60]:
#2a)
import re
def count_lone_ones(num):
    num = str(num)
    l = []
    """for i in re.finditer(r'[1]*', num):
       l.append(i.span())
    return l"""
    res = [len(sub.group()) for sub in re.finditer(r'[1]*',num)]
    
    return res.count(1)

In [61]:
count_lone_ones(101)

2

In [62]:
count_lone_ones(1111)

0

In [63]:
count_lone_ones(1191)

1

In [69]:
#3a)
def printGrid(row,col):
    k = []
    for j in range(row):
        l = []
        for i in range(col):
            if len(l) == 0:
                l.append(1+j)
            else:
                l.append(l[-1]+row)
        k.append(l)
    return k

In [71]:
printGrid(4, 1)

[[1], [2], [3], [4]]

In [74]:
#4a)
def min_miss_pos(mylist):
    for i in range(min(mylist), max(mylist)):
        if not i in mylist and i > 0:
            return i

In [75]:
min_miss_pos([-2, 6, 4, 5, 7, -1, 1, 3, 6, -2, 9, 10, 2, 2])

8

In [76]:
min_miss_pos([0, 4, 4, -1, 9, 4, 5, 2, 10, 7, 6, 3, 10, 9])

1

In [95]:
#5a)
customers = {
  "Batman": [22, 30, 11, 17, 15, 52, 27, 12],
  "Spider-Man": [5, 17, 30, 33, 40, 22, 26, 10, 11, 45]
}
def pizza_points(customers, num1, num2):
    l = []
    for i in customers.keys():
        if num1<len([j for j in customers[i] if j> num2 ]):
            l.append(i)
            
    return l

In [98]:
pizza_points(customers, 3, 10)

['Batman', 'Spider-Man']